* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #222;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.velo {
  height: 40px;
  width: 40px;
}

.humi {
  height: 40px;
  width: 40px;
}

.search {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lupa {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 50px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 50px;
  cursor: pointer;
}

.search button img {
  width: 60px;
}

.wheather-icon {
  width: 120px;
  height: 120px;
  margin-top: 30px;
}

.wheather h1 {
  font-size: 60px;
  font-weight: 500;
  margin-right: -10px;
}

.imagedays div {
  font-size: 20px;
}

.days div {
  font-size: 20px;
}

.wheather h2 {
  font-size: 50px;
  font-weight: 500;
}

.imagedays img {
 width: 50px;
 height: 50px;
}

.details {
  padding: 0 20px;
  margin-top: 50px;
}

.imagedays {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  border-color: none;
  height: 25px;
  width: 25px;
}


.days {
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.col img {
  width: 40px;
  margin-right: 10px;
  justify-content: space-evenly;
}

.col.viento img {
  margin-left: 30px;
}

.humidity {
  font-size: 28px;
  margin-left: 6px;
  text-align: left;
}
.wind {
  font-size: 28px;
  margin-right: 6px;
  text-align: right;
}
